# Numpy 2회독

In [1]:
import numpy as np

In [3]:
# list 이용하여 array 만들기

list = [1,2,3,3,2,1]
arr1 = np.array(list)
arr1

array([1, 2, 3, 3, 2, 1])

In [4]:
# array 행렬정보 출력
arr2 = arr1.copy()
arr2.shape

(6,)

In [5]:
# array 자료형 확인
arr3 = arr2.copy()
arr3.dtype

dtype('int32')

In [8]:
# 1차원이 아닌 2차원 만들기
arr4 = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
arr4

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

## 열까지 표현할 때는 전체적으로 대괄호 붙임

In [10]:
arr5 = np.array([[1,2,3],[4,5,6]])
arr5 + arr5

array([[ 2,  4,  6],
       [ 8, 10, 12]])

## numpy간 연산시, 형식(행렬의 일치)이 맞지 않으면 안됨!

In [13]:
# numpy의 range 사용해서 편리하게 array 만들기
arr6 = np.arange(2, 10)
arr6

array([2, 3, 4, 5, 6, 7, 8, 9])

## arange도 range처럼 마지막 파라미터의 -1된 값까지 출력

In [16]:
print(arr6)
print(arr6[:])

[2 3 4 5 6 7 8 9]
[2 3 4 5 6 7 8 9]

# Q. 가우시안 정규 분포

In [17]:
# 가우시안 정규 분포를 따르는 난수 발생
arr7 = np.random.randn(5,3)
arr7

array([[ 1.01191255,  0.36124659, -0.93499054],
       [ 0.8012206 ,  0.71198508, -1.29678482],
       [ 0.15402489, -2.11351279, -0.94642853],
       [-0.56062154, -1.36301247,  0.1799387 ],
       [ 1.70889108,  1.08324566,  1.00054181]])

In [19]:
# 원소의 절대값 계산
arr8 = arr7.copy()
np.abs(arr8)

array([[1.01191255, 0.36124659, 0.93499054],
       [0.8012206 , 0.71198508, 1.29678482],
       [0.15402489, 2.11351279, 0.94642853],
       [0.56062154, 1.36301247, 0.1799387 ],
       [1.70889108, 1.08324566, 1.00054181]])

In [22]:
# 원소의 제곱 계산

arr9 = arr6.copy()
np.square(arr9)

array([ 4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [33]:
# 원소를 소수 첫번째 자리에서 올림

arr10 = np.arange(10)/10
np.ceil(arr10)
# np.round(arr10, 1)

array([0., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## arr10 = np.arange(10)/10 이렇게 해서 쉽게 값의 variation을 줄 수 있음
## np.ceil은 소수 첫번째 자리에서만 올림 가능한 듯. 어차피 round는 소수 몇번째 자리에서 반올림할지 지정가능하기 때문에 안쓸듯

In [34]:
# 원소를 소수 첫번째 자리에서 내림

arr11 = arr10.copy()
np.floor(arr11)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [37]:
# 원소를 소수 N번째 자리에서 반올림

arr12 = arr11.copy()
np.round(arr12, 2)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

## round에서 두번째 파라미터 지정안하면 걍 첫번째 자리에서 반올림(=0)

In [38]:
# 각 성분이 NaN 인지 확인
arr13 = arr12.copy()
np.isnan(arr13)

array([False, False, False, False, False, False, False, False, False,
       False])

In [39]:
import pandas as pd

In [51]:
ex1= pd.DataFrame( {'a' : [1,2,3, np.nan], 'b' : [1,2,3, np.nan]})
np.isnan(ex1)

       a      b
0  False  False
1  False  False
2  False  False
3   True   True

## np.nan으로 NaN 값 넣을 수 있다. 이런 예제는 충현이가 준 pandas10분완성에 이씀
## np.isnan에 DataFrame도 들어가짐. pandas가 numpy 기반이라서 이런 경우가 흔하게 있는 듯. 앞으로 DataFrame을 numpy 함수로 처리하고 싶으면 바로 넣어보자.

In [53]:
# 원소값이 무한대인지 아닌지

arr14 = arr13.copy()
np.isinf(arr14)

array([False, False, False, False, False, False, False, False, False,
       False])

## np.isinf를 도대체 언제 쓸까

In [73]:
# 원소의 sin, cos, tan 값 출력

ex_arr = np.array([0, 30, 45, 60, 90])
arr15 = np.sin(ex_arr * np.pi / 180 )
arr16 = np.cos(ex_arr * np.pi / 180 )
arr17 = np.tan(ex_arr * np.pi / 180 )
arr16

array([1.00000000e+00, 8.66025404e-01, 7.07106781e-01, 5.00000000e-01,
       6.12323400e-17])

## sin빼고 뭔가 좀 이상한데..

In [90]:
l1 = range(1,11)
l2 = range(0,10)
arr19 = np.array([l2, l1])
arr19

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

In [79]:
# 오름차순으로 정렬

arr18 = 1 / np.arange(1, 11)
np.sort(arr18)

array([0.1       , 0.11111111, 0.125     , 0.14285714, 0.16666667,
       0.2       , 0.25      , 0.33333333, 0.5       , 1.        ])

In [80]:
# 내림차순으로 정렬

np.sort(arr18)[::-1]

array([1.        , 0.5       , 0.33333333, 0.25      , 0.2       ,
       0.16666667, 0.14285714, 0.125     , 0.11111111, 0.1       ])

In [100]:
np.sort(arr19, axis = 1)

numpy.ndarray

In [95]:
arr20 = np.array([[2,1,6], [0,7,4], [5,3,2]])
arr20

array([[2, 1, 6],
       [0, 7, 4],
       [5, 3, 2]])

In [109]:
# 2차원 열 기준으로 정렬

np.sort(arr20, axis=0)

array([[0, 1, 2],
       [2, 3, 4],
       [5, 7, 6]])

In [110]:
# 2차원 행 기준으로 정렬

np.sort(arr20, axis=1)

array([[1, 2, 6],
       [0, 4, 7],
       [2, 3, 5]])

In [111]:
# 2차원 행 기준으로 내림차순 정렬

np.sort(arr20, axis=0)[::-1]

array([[5, 7, 6],
       [2, 3, 4],
       [0, 1, 2]])

## 2차원 배열에서 np.sort(x)를 쓰면 각 행 내에서만 오름차순 정렬이 이루어진다.
## 2차원 배열에서 np.sort(x)[::-1] 를 쓰면 행 자체의 순서가 역으로 바뀌면서 행 내에서는 오름차순 정렬이 일어난다. 딱봐도 이상해지니까 np.sort(x)와 [::-1]은 1차원에서만 쓰는걸로.
## 2차원 정렬시 배열의 모든 원소가 정렬되는 것이 아니라는 것을 인지해야 한다. 행 기준 정렬은 리스트끼리 순서는 변경되지 않은 채 리스트 내부의 원소끼리만 정렬하는 것이고, 열 기준 정렬은 세로로만 정렬이 일어나는 것이다.

In [114]:
arr20

array([[2, 1, 6],
       [0, 7, 4],
       [5, 3, 2]])

In [116]:
# 전체 원소를 대상으로 사칙연산. 행 또는 열 간의 사칙연산.

np.sum(arr20, axis=0)
np.sum(arr20, axis=1)

array([ 7, 11, 12])

## 이 부분이 잘 이해가 안간다. 왜냐하면 여태까지 axis=0이면 행에 관련된 결과를 도출했기에 np.sum(arr20, axis=0) 도 0,1,2행별 합인 [9,11,10]이 나올줄 알았으나 0,1,2열별 합인 [7,11,12]가 나왔다. 다음에 실제로 쓸 때 더 제대로 알아보자.

In [119]:
# 평균계산(전체 원소, axis)

np.mean(arr20, axis=1)

array([3.        , 3.66666667, 3.33333333])

## 표준편차, 분산, 최소값, 최대값 (95p)

In [122]:
# 누적합, 누적곱
np.cumsum(arr20)
np.cumprod(arr20)

array([ 2,  2, 12,  0,  0,  0,  0,  0,  0], dtype=int32)

# 연습문제

In [123]:
p1 = np.array([[10,20,30], [40,50,60], [70,80,90], [100,110,120]])
p1

array([[ 10,  20,  30],
       [ 40,  50,  60],
       [ 70,  80,  90],
       [100, 110, 120]])

In [131]:
[p1[0][1], p1[1][2]]

# 민우 방식으로도 풀어보기

[20, 60]

In [133]:
p1[0:2, 1:3]

array([[20, 30],
       [50, 60]])

In [138]:
np20 = np.arange(10)
np20

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])