In [9]:
import pandas as pd
import numpy as np
import os

df = pd.read_excel('C:/Users/LeeKyoungJun/Desktop/시간대별매출내역2.xls')
df

WARNING *** file size (25299) not 512 + multiple of sector size (512)

,매장명,판매일자,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,합계
0,무보까국밥(성서점),2020-10-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,무보까국밥(성서점),2020-10-02,100500,208000,170000,131000,47000,173500,18000,70500,...,184000,206000,128500,219500,307000,152500,129500,211500,287500,3513500
2,무보까국밥(성서점),2020-10-03,136500,122500,113500,223500,62000,116500,155000,146500,...,134000,119000,142000,208500,425000,114000,210000,161500,134000,4007000
3,무보까국밥(성서점),2020-10-04,188000,135000,61000,24500,55500,99000,135000,66000,...,182500,164000,164000,286500,416500,274500,149000,90000,156000,4092500
4,무보까국밥(성서점),2020-10-05,0,0,0,0,0,0,0,0,...,59000,0,91000,161000,218500,405500,100000,44500,0,1678500
5,무보까국밥(성서점),2020-10-06,114000,132000,82500,157500,82000,59500,147500,10000,...,72500,0,152000,275500,184000,91500,93000,281000,83000,2637500
6,무보까국밥(성서점),2020-10-07,279500,58000,30000,43000,120000,56000,200000,83000,...,81500,61000,124500,143500,324000,280500,135000,101500,68500,3058000
7,무보까국밥(성서점),2020-10-08,75000,44000,24000,241000,33500,41000,78000,126000,...,89000,18000,41000,174500,307500,394000,218500,154000,106500,3121000
8,무보까국밥(성서점),2020-10-09,60000,80000,133000,138000,121500,220000,60000,125500,...,69000,32000,193500,325500,420500,328000,171000,210000,195500,3917000
9,무보까국밥(성서점),2020-10-10,48000,63000,177000,57500,175500,0,235000,155500,...,119000,48000,105000,270000,155000,21000,68000,253500,120500,3298000
10,무보까국밥(성서점),2020-10-11,79500,134500,18000,48000,163000,61000,110500,93500,...,160500,89000,290000,254500,369500,190000,216000,101500,63500,3780500
11,무보까국밥(성서점),2020-10-12,222500,90000,8500,139500,79000,53500,116000,15500,...,62000,89000,76500,171500,132500,197000,255000,137000,103000,2781000
12,무보까국밥(성서점),2020-10-13,52000,170000,56000,35000,54000,22000,98500,8000,...,70000,14000,58000,43000,247000,263000,256500,167500,253500,2729000
13,무보까국밥(성서점),2020-10-14,180000,93000,128000,0,95000,25000,143000,66000,...,44000,80000,74000,271500,565000,394000,152500,249000,25000,3494500
14,무보까국밥(성서점),2020-10-15,230000,218000,111000,123500,84000,211000,50500,134000,...,43000,8000,68000,216500,288000,248000,197500,484500,0,3730000
15,무보까국밥(성서점),2020-10-16,77500,110000,214500,68000,155500,132500,14000,53000,...,44000,15000,104500,184000,373500,234500,206500,187500,149000,3747000
16,무보까국밥(성서점),2020-10-17,146000,361500,117000,115500,126000,93000,164500,226000,...,102500,57500,235500,304500,414000,106500,475000,132000,143500,4605500
17,무보까국밥(성서점),2020-10-18,76000,103000,113500,0,29000,0,188500,58500,...,59000,69500,46000,348500,250500,211000,230000,270000,15000,3312000
18,무보까국밥(성서점),2020-10-19,0,0,0,0,0,0,0,0,...,94500,29000,34000,214500,219500,121500,202000,0,0,1559500
19,무보까국밥(성서점),2020-10-20,105000,118500,66000,54000,87000,144500,176500,87000,...,34000,42500,15000,110000,72500,14000,249500,179500,124500,2585500
20,무보까국밥(성서점),2020-10-21,71000,55000,40500,34500,38000,41000,144000,16500,...,23000,7000,107500,199500,130000,260000,214000,177500,76000,2870000
21,무보까국밥(성서점),2020-10-22,167000,150000,154000,83500,49000,80000,7000,41000,...,0,94000,101500,134500,252000,147000,144500,61500,185500,2956500
22,무보까국밥(성서점),2020-10-23,315500,23000,99500,79000,111000,110000,29500,230500,...,62000,46000,286500,209500,340500,296000,190500,214500,100500,4236500
23,무보까국밥(성서점),2020-10-24,87000,63500,163000,86500,151500,99000,104500,226500,...,66500,121000,131000,170500,284500,184000,119000,214000,147500,3956500
24,무보까국밥(성서점),2020-10-25,130000,117000,75000,21500,37000,14000,82000,126000,...,82000,121000,260000,397000,413000,219500,191500,72500,90000,4078500
25,무보까국밥(성서점),2020-10-26,36000,150000,60000,198000,128000,104500,55000,106000,...,40500,50000,37500,155000,385500,187500,256500,215000,60000,3106000
26,무보까국밥(성서점),2020-10-27,20000,184500,133500,89500,63500,118000,93500,23000,...,14000,105000,16000,183500,354000,158500,244000,71000,186000,3076000
27,무보까국밥(성서점),2020-10-28,133500,134500,184000,161500,44000,0,27000,66500,...,80500,44000,162500,364000,288500,290500,77500,104000,106500,2961500
28,무보까국밥(성서점),2020-10-29,38000,118500,137000,88500,90500,37500,55000,62500,...,78000,93000,160500,24500,174500,187500,162500,103500,83500,2811000
29,무보까국밥(성서점),2020-10-30,75000,177500,153000,160000,118500,82500,170500,129500,...,49000,102000,206500,150000,232500,228500,257000,140000,77000,3657000
30,무보까국밥(성서점),2020-10-31,169000,146000,148500,87000,67000,104500,152000,167500,...,78000,104000,109000,224000,615500,184500,198500,364000,127500,5013000
31,무보까국밥(성서점),2020-11-01,111500,69000,14000,35000,41500,0,85500,7000,...,238000,127000,248000,371500,501500,212500,99000,225000,127500,4226000
32,무보까국밥(성서점),2020-11-02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,366500
33,NaN,NaN,3523500,3629500,2985500,2724000,2509000,2299000,3096000,2727000,...,2515500,2155500,3969500,6766500,9662000,6597000,5869000,5378500,3396000,104962500

### 인덱스를 판매일자 column으로 바꾸기
: df.set_index('바꿀 열 이름')

In [10]:
df = df.set_index('판매일자')
df.head()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2020-10-01,무보까국밥(성서점),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-10-02,무보까국밥(성서점),100500,208000,170000,131000,47000,173500,18000,70500,118000,...,184000,206000,128500,219500,307000,152500,129500,211500,287500,3513500
2020-10-03,무보까국밥(성서점),136500,122500,113500,223500,62000,116500,155000,146500,53000,...,134000,119000,142000,208500,425000,114000,210000,161500,134000,4007000
2020-10-04,무보까국밥(성서점),188000,135000,61000,24500,55500,99000,135000,66000,52000,...,182500,164000,164000,286500,416500,274500,149000,90000,156000,4092500
2020-10-05,무보까국밥(성서점),0,0,0,0,0,0,0,0,0,...,59000,0,91000,161000,218500,405500,100000,44500,0,1678500

In [11]:
df.tail()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2020-10-30,무보까국밥(성서점),75000,177500,153000,160000,118500,82500,170500,129500,239000,...,49000,102000,206500,150000,232500,228500,257000,140000,77000,3657000
2020-10-31,무보까국밥(성서점),169000,146000,148500,87000,67000,104500,152000,167500,378000,...,78000,104000,109000,224000,615500,184500,198500,364000,127500,5013000
2020-11-01,무보까국밥(성서점),111500,69000,14000,35000,41500,0,85500,7000,7000,...,238000,127000,248000,371500,501500,212500,99000,225000,127500,4226000
2020-11-02,무보까국밥(성서점),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,366500
NaN,NaN,3523500,3629500,2985500,2724000,2509000,2299000,3096000,2727000,3415500,...,2515500,2155500,3969500,6766500,9662000,6597000,5869000,5378500,3396000,104962500

### 마지막행 제거

In [12]:
kk=len(df)
df = df.drop([df.index[kk-1]])
df.tail()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2020-10-29,무보까국밥(성서점),38000,118500,137000,88500,90500,37500,55000,62500,21000,...,78000,93000,160500,24500,174500,187500,162500,103500,83500,2811000
2020-10-30,무보까국밥(성서점),75000,177500,153000,160000,118500,82500,170500,129500,239000,...,49000,102000,206500,150000,232500,228500,257000,140000,77000,3657000
2020-10-31,무보까국밥(성서점),169000,146000,148500,87000,67000,104500,152000,167500,378000,...,78000,104000,109000,224000,615500,184500,198500,364000,127500,5013000
2020-11-01,무보까국밥(성서점),111500,69000,14000,35000,41500,0,85500,7000,7000,...,238000,127000,248000,371500,501500,212500,99000,225000,127500,4226000
2020-11-02,무보까국밥(성서점),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,366500

### 행열 전치

In [13]:
df = df.T
df.tail()

판매일자,2020-10-01,2020-10-02,2020-10-03,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,...,2020-10-24,2020-10-25,2020-10-26,2020-10-27,2020-10-28,2020-10-29,2020-10-30,2020-10-31,2020-11-01,2020-11-02
20,0,152500,114000,274500,405500,91500,280500,394000,328000,21000,...,184000,219500,187500,158500,290500,187500,228500,184500,212500,0
21,0,129500,210000,149000,100000,93000,135000,218500,171000,68000,...,119000,191500,256500,244000,77500,162500,257000,198500,99000,0
22,0,211500,161500,90000,44500,281000,101500,154000,210000,253500,...,214000,72500,215000,71000,104000,103500,140000,364000,225000,0
23,0,287500,134000,156000,0,83000,68500,106500,195500,120500,...,147500,90000,60000,186000,106500,83500,77000,127500,127500,0
합계,0,3513500,4007000,4092500,1678500,2637500,3058000,3121000,3917000,3298000,...,3956500,4078500,3106000,3076000,2961500,2811000,3657000,5013000,4226000,366500

### 첫행 & 마지막행 제거
행 갯수 세기 : len(df)

In [14]:
kk=len(df)
df2 = df.drop([df.index[kk-1]])
df2.tail()

판매일자,2020-10-01,2020-10-02,2020-10-03,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,...,2020-10-24,2020-10-25,2020-10-26,2020-10-27,2020-10-28,2020-10-29,2020-10-30,2020-10-31,2020-11-01,2020-11-02
19,0,307000,425000,416500,218500,184000,324000,307500,420500,155000,...,284500,413000,385500,354000,288500,174500,232500,615500,501500,0
20,0,152500,114000,274500,405500,91500,280500,394000,328000,21000,...,184000,219500,187500,158500,290500,187500,228500,184500,212500,0
21,0,129500,210000,149000,100000,93000,135000,218500,171000,68000,...,119000,191500,256500,244000,77500,162500,257000,198500,99000,0
22,0,211500,161500,90000,44500,281000,101500,154000,210000,253500,...,214000,72500,215000,71000,104000,103500,140000,364000,225000,0
23,0,287500,134000,156000,0,83000,68500,106500,195500,120500,...,147500,90000,60000,186000,106500,83500,77000,127500,127500,0

In [15]:
df3 = df2.drop([df2.index[0]])
df3.head()

판매일자,2020-10-01,2020-10-02,2020-10-03,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,...,2020-10-24,2020-10-25,2020-10-26,2020-10-27,2020-10-28,2020-10-29,2020-10-30,2020-10-31,2020-11-01,2020-11-02
0,0,100500,136500,188000,0,114000,279500,75000,60000,48000,...,87000,130000,36000,20000,133500,38000,75000,169000,111500,0
1,0,208000,122500,135000,0,132000,58000,44000,80000,63000,...,63500,117000,150000,184500,134500,118500,177500,146000,69000,0
2,0,170000,113500,61000,0,82500,30000,24000,133000,177000,...,163000,75000,60000,133500,184000,137000,153000,148500,14000,0
3,0,131000,223500,24500,0,157500,43000,241000,138000,57500,...,86500,21500,198000,89500,161500,88500,160000,87000,35000,0
4,0,47000,62000,55500,0,82000,120000,33500,121500,175500,...,151500,37000,128000,63500,44000,90500,118500,67000,41500,0

### 날짜를 각 시간대의 열으로 넣기
열 추가 : df2['새로운 열 이름']=넣을 값 \
열 갯수 세기 : len(df2.columns) \
열 이름 리스트로 : df2.columns.tolist() \
열 삭제 : df.drop(['없앨 열의 이름'],axis='columns')

In [16]:
col = df3.columns.tolist()
# df4 = pd.melt(df3, col, var_name='날짜')

In [17]:
# df4 = df3
# col4 = df4.columns.tolist()
# df4['날짜'+str(0)] = col4[0]
# tmp=col4[len(col4)-1]
# del col4[len(col4)-1]
# col4.insert(0,tmp)
# df4=df4[col4]
# df4.head()

In [18]:
df4 = df3.copy()
col4 = df4.columns.tolist()

for num in range(0,len(col4)) : 
    df4['날짜'+str(num)] = col4[num]
    col_n = df4.columns.tolist()
    tmp = col_n[len(col_n)-1]
    del col_n[len(col_n)-1]
    df4.drop(['날짜'+str(num)],axis='columns')
#     df4.drop([df4.index[len(col4)]])
    col_n.insert(2*num,tmp)
    df4=df4[col_n]
df4.head()

판매일자,날짜0,2020-10-01,날짜1,2020-10-02,날짜2,2020-10-03,날짜3,2020-10-04,날짜4,2020-10-05,...,날짜28,2020-10-29,날짜29,2020-10-30,날짜30,2020-10-31,날짜31,2020-11-01,날짜32,2020-11-02
0,2020-10-01,0,2020-10-02,100500,2020-10-03,136500,2020-10-04,188000,2020-10-05,0,...,2020-10-29,38000,2020-10-30,75000,2020-10-31,169000,2020-11-01,111500,2020-11-02,0
1,2020-10-01,0,2020-10-02,208000,2020-10-03,122500,2020-10-04,135000,2020-10-05,0,...,2020-10-29,118500,2020-10-30,177500,2020-10-31,146000,2020-11-01,69000,2020-11-02,0
2,2020-10-01,0,2020-10-02,170000,2020-10-03,113500,2020-10-04,61000,2020-10-05,0,...,2020-10-29,137000,2020-10-30,153000,2020-10-31,148500,2020-11-01,14000,2020-11-02,0
3,2020-10-01,0,2020-10-02,131000,2020-10-03,223500,2020-10-04,24500,2020-10-05,0,...,2020-10-29,88500,2020-10-30,160000,2020-10-31,87000,2020-11-01,35000,2020-11-02,0
4,2020-10-01,0,2020-10-02,47000,2020-10-03,62000,2020-10-04,55500,2020-10-05,0,...,2020-10-29,90500,2020-10-30,118500,2020-10-31,67000,2020-11-01,41500,2020-11-02,0

In [19]:
# len(df4.columns)

In [20]:
# pd.DataFrame(df4.iloc[:, 1])

### 시간(0~23)순으로 쭉 나열 : column 두 개씩 뽑아서 아래에 붙이기

In [21]:
refine_df = pd.DataFrame()
for i in range(1, len(df4.columns), 2):
    temp_df = pd.DataFrame(df4.iloc[:, i])
    temp_df.columns = ['매출액']
    refine_df = pd.concat([refine_df, temp_df])
    print(i, '/', len(df4.columns))

1 / 66
3 / 66
5 / 66
7 / 66
9 / 66
11 / 66
13 / 66
15 / 66
17 / 66
19 / 66
21 / 66
23 / 66
25 / 66
27 / 66
29 / 66
31 / 66
33 / 66
35 / 66
37 / 66
39 / 66
41 / 66
43 / 66
45 / 66
47 / 66
49 / 66
51 / 66
53 / 66
55 / 66
57 / 66
59 / 66
61 / 66
63 / 66
65 / 66

In [22]:
date_df = pd.DataFrame()
for i in range(0, len(df4.columns), 2):
    temp_df = pd.DataFrame(df4.iloc[:, i])
    temp_df.columns = ['날짜']
    date_df = pd.concat([date_df, temp_df])

In [23]:
final = pd.concat([date_df, refine_df], axis = 1)

In [25]:
final.to_excel('C:/Users/LeeKyoungJun/Desktop/전처리완료_시간대별매출내역2.xls')

In [36]:
# cols=df4.columns.tolist()
# df_0=df4[[cols[0],cols[1]]].copy()
# total = pd.DataFrame(columns=range(2))
# for num in range(0,int(len(cols)/2)):
#     temp=df4[[cols[num*2],cols[num*2+1]]].copy()
#     temp = pd.concat([dff+(2*num-2)],[dff+(2*num-1)], axis=1)
#     total = pd.concat([total, temp], axis=1)
#     total = pd.concat([total, temp])
# total.tail()
# for num in range():
#     pd.concat([num, num+1], axis=1)